* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  width: 100%;
  font-family: 'Segoe UI'; }

.top-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 13px 0px 13px 0px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 1px solid #e2e2ed;
  font-weight: 600;
  letter-spacing: 1.65px; }
  .top-nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .top-nav ul li a {
      color: #2e2771;
      text-decoration: none; }
    .top-nav ul li:not(:last-child) {
      margin-right: 55px; }
  .top-nav .addToBookmarks {
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500; }
  .top-nav i {
    color: #2e2771; }

.company-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .company-info a {
    color: #393185;
    text-underline-position: under; }
  .company-info i {
    color: #393185; }
  .company-info .logo .slogan {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 900;
    color: #393185; }
  .company-info .working-hours {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.31; }
    .company-info .working-hours .phone-num {
      font-weight: 900; }
    .company-info .working-hours .working-hours-icon {
      margin-right: 25px; }
    .company-info .working-hours .working-hours-info p:last-of-type {
      margin-bottom: 19px; }
  .company-info .address {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.31; }
    .company-info .address .address-icon {
      margin-right: 25px; }
    .company-info .address .address-info p:last-of-type {
      margin-bottom: 19px; }
  .company-info .fast-order .odred-btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 207px;
    height: 40px;
    background: #e50a62;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.8px;
    font-size: 12px;
    margin-bottom: 19px; }
    .company-info .fast-order .odred-btn:hover {
      background: #fff;
      border: 2px solid #e50a62;
      color: #e50a62;
      transition: all ease-out 0.3s; }

nav {
  background: #393185;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); }
  nav .container {
    width: 100%; }
  nav ul {
    height: 100%;
    list-style: none;
    position: relative;
    text-align: center; }
    nav ul li {
      display: inline-block;
      height: 100%; }
      nav ul li:hover {
        background: #e50a62; }
      nav ul li:hover a {
        color: #fff; }
      nav ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 32px 40px;
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 2.4px; }

.menu-sub {
  position: absolute;
  left: 0;
  box-shadow: 0 28px 95px rgba(55, 47, 129, 0.26);
  background-color: #ecf5fd;
  width: 100%;
  display: none;
  color: #2e2771;
  padding: 2em; }
  .menu-sub ul li {
    display: block; }
    .menu-sub ul li a {
      padding: 0;
      margin-bottom: .35em;
      font-size: 14px;
      letter-spacing: normal;
      text-transform: capitalize; }
      .menu-sub ul li a:hover {
        text-decoration: underline; }

nav li:hover .menu-sub {
  display: block; }
  nav li:hover .menu-sub a {
    color: #393185; }

.menu-category {
  margin: 2.5em 0 .5em; }

.menu-category:first-of-type {
  margin-top: 0; }

.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float: left; }

.menu-col-1 {
  width: 25%; }

.menu-col-2 {
  width: 50%; }

.banner-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 260px); }
  .banner-container .banner {
    width: 100%;
    object-fit: cover; }
