/* Global rules start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Global rules end */
/* Main header rules*/
.header {
  width: 100%;
  font-family: 'Segoe UI'; }

/* Top navigation start*/
.top-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 13px 0px 13px 0px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 1px solid #e2e2ed;
  font-weight: 600;
  letter-spacing: 1.65px; }
  .top-nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .top-nav ul li a {
      color: #2e2771;
      text-decoration: none; }
    .top-nav ul li:not(:last-child) {
      margin-right: 55px; }
  .top-nav .addToBookmarks {
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500; }
  .top-nav i {
    color: #2e2771; }

/* Top navigation end */
/* Company info block start */
/* Main company info block rules */
.company-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* Company info block - logo start */
  /* Company info block - logo end */
  /* Company info block - working hours start */
  /* Company info block - working hours end */
  /* Company info block - address start */
  /* Company info block - address end */
  /* Company info block - fast order start */ }
  .company-info a {
    color: #393185;
    text-underline-position: under; }
  .company-info i {
    color: #393185; }
  .company-info .logo .slogan {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 900;
    color: #393185; }
  .company-info .working-hours {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.31; }
    .company-info .working-hours .phone-num {
      font-weight: 900; }
    .company-info .working-hours .working-hours-icon {
      margin-right: 25px; }
    .company-info .working-hours .working-hours-info p:last-of-type {
      margin-bottom: 19px; }
  .company-info .address {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.31; }
    .company-info .address .address-icon {
      margin-right: 25px; }
    .company-info .address .address-info p:last-of-type {
      margin-bottom: 19px; }
  .company-info .fast-order .odred-btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 207px;
    height: 40px;
    background: #e50a62;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.8px;
    font-size: 12px;
    margin-bottom: 19px; }
    .company-info .fast-order .odred-btn:hover {
      background: #fff;
      border: 2px solid #e50a62;
      color: #e50a62;
      transition: all ease-out 0.3s; }

/* Company info block - fast order end */
/* Company info block end */
/* Main navigation block start*/
nav {
  background: #393185;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); }
  nav .container {
    width: 100%; }
  nav ul {
    height: 100%;
    list-style: none;
    position: relative;
    text-align: center; }
    nav ul li {
      display: inline-block;
      height: 100%; }
      nav ul li:hover {
        background: #e50a62; }
      nav ul li:hover a {
        color: #fff; }
      nav ul li a {
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 32px 40px;
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 1.5px;
        font-weight: 700; }

/* sub navigation block start*/
.menu-sub {
  position: absolute;
  z-index: 2;
  left: 0;
  box-shadow: 0 28px 95px rgba(55, 47, 129, 0.26);
  background-color: #ecf5fd;
  width: 100%;
  display: none;
  color: #2e2771;
  padding: 2em; }
  .menu-sub ul li {
    display: block; }
    .menu-sub ul li a {
      padding: 0;
      margin-bottom: .35em;
      font-size: 14px;
      font-family: 'Segoe UI';
      letter-spacing: normal;
      text-transform: capitalize; }
      .menu-sub ul li a:hover {
        text-decoration: underline; }

nav li:hover .menu-sub {
  display: block; }
  nav li:hover .menu-sub a {
    color: #393185; }

.menu-category {
  margin: 2.5em 0 .5em; }

.menu-category:first-of-type {
  margin-top: 0; }

.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float: left; }

.menu-col-1 {
  width: 25%; }

.menu-col-2 {
  width: 50%; }

/* sub navigation block end*/
/* Main navigation block end*/
/* Banner block start */
.banner-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  height: calc(100vh - 260px); }
  .banner-container .banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .9;
    background: rgba(5, 16, 59, 0.69);
    background: linear-gradient(to bottom, rgba(5, 16, 59, 0.69) 0%, rgba(5, 16, 59, 0.68) 0%, rgba(0, 0, 0, 0.68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05103b', endColorstr='#000000', GradientType=0 ); }
  .banner-container .banner {
    width: 100%;
    object-fit: cover;
    overflow-y: hidden; }
  .banner-container .banner-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .banner-container .banner-info .banner-info-heading {
      margin-top: 70px;
      margin-left: 100px;
      margin-bottom: 30px;
      text-transform: uppercase;
      color: #fff;
      font-size: 108px;
      font-family: 'Source Sans Pro', sans-serif; }
      .banner-container .banner-info .banner-info-heading::after {
        display: block;
        position: absolute;
        content: '';
        background: #e50a62;
        width: 84px;
        height: 3px; }
    .banner-container .banner-info .banner-info-text {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #fff;
      font-family: 'Segoe UI Black', sans-serif; }
      .banner-container .banner-info .banner-info-text .banner-subheading {
        font-size: 30px;
        margin-right: 105px; }
      .banner-container .banner-info .banner-info-text .banner-list {
        font-size: 24px;
        font-family: "Segoe UI";
        margin-right: 105px; }
        .banner-container .banner-info .banner-info-text .banner-list i {
          margin-right: 25px; }
        .banner-container .banner-info .banner-info-text .banner-list ul {
          list-style: none; }
      .banner-container .banner-info .banner-info-text .banner-phone p {
        font-weight: 900;
        font-size: 30px;
        font-family: "Segoe UI Black";
        margin-bottom: 26px; }
      .banner-container .banner-info .banner-info-text .banner-phone .btn-order-online {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 294px;
        height: 52px;
        background: #e50a62;
        font-size: 14px;
        font-family: "Segoe UI";
        text-transform: uppercase; }
        .banner-container .banner-info .banner-info-text .banner-phone .btn-order-online:hover {
          background: #fff;
          color: #e50a62;
          transition: all ease-out 0.3s; }

/* Banner block end */
.popular-prints {
  width: 100%; }
  .popular-prints .prints-wrapper {
    margin: 0 auto;
    max-width: 925px; }
    .popular-prints .prints-wrapper h2 {
      position: relative;
      text-transform: uppercase;
      margin-top: 83px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #393185; }
      .popular-prints .prints-wrapper h2::before {
        content: '';
        width: 84px;
        border-bottom: solid 3px #e50a62;
        position: absolute;
        left: -112px;
        top: 50%; }

.prints-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 46px; }
  .prints-grid .print-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 261px;
    width: 295px;
    margin-bottom: 35px; }
    .prints-grid .print-item h3 {
      margin-bottom: 23px;
      color: #393185;
      font-family: 'Segoe UI Black';
      font-size: 18px;
      text-decoration: underline; }
  .prints-grid .item8 {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 3px; }
    .prints-grid .item8:hover .arrow {
      left: 222px;
      transition: all ease-out .1s; }
  .prints-grid .personal-order {
    position: relative;
    width: 100%;
    height: 221px;
    border: 8px solid #e50a62; }
    .prints-grid .personal-order p {
      position: absolute;
      top: 46px;
      left: 43px;
      color: #e50a62;
      font-family: "Segoe UI Black";
      font-size: 18px;
      text-decoration: underline; }
    .prints-grid .personal-order img {
      position: absolute;
      top: 157px;
      left: 217px; }

/* Pricing block start */
/* Pricing block - wrapper start */
.pricing-table {
  width: 100%; }
  .pricing-table .table-wrapper {
    margin: 0 auto;
    width: 925px; }
    .pricing-table .table-wrapper h2 {
      position: relative;
      text-transform: uppercase;
      margin-top: 83px;
      font-family: "Source Sans Pro", sans-serif;
      color: #393185; }
      .pricing-table .table-wrapper h2::before {
        content: '';
        width: 84px;
        border-bottom: solid 3px #e50a62;
        position: absolute;
        left: -112px;
        top: 50%; }

/* Pricing block - wrapper end */
/* Pricing block - table start */
table {
  width: 100%;
  margin-top: 45px;
  border: 1px solid #e6f0f8;
  border-collapse: collapse; }
  table thead {
    background: #393185;
    color: #fff;
    font-family: "Segoe UI Black";
    font-size: 16px; }
    table thead tr th {
      padding: 22px 0px 22px 25px; }
    table thead tr th:first-child {
      text-align: left; }
  table tbody {
    font-family: "Segoe UI";
    font-size: 14px; }
    table tbody tr td {
      padding: 14px 25px 14px 25px; }
    table tbody tr td:not(:first-child) {
      text-align: center; }
    table tbody tr:nth-child(odd) {
      background: #e6f0f8; }
    table tbody tr:nth-child(even) {
      background: #fff; }
  table .cell-select:hover {
    color: #ffffff;
    background-color: #e50a62;
    cursor: pointer; }

/* Pricing block - table end */
/* Pricing block - table caption start */
.table-caption {
  width: 100%;
  margin-top: 27px; }
  .table-caption h3,
  .table-caption p {
    margin-left: 25px; }
  .table-caption h3 {
    color: #393185;
    font-family: "Segoe UI Black";
    font-size: 14px; }
  .table-caption p {
    margin-top: 19px;
    margin-bottom: 24px;
    color: #303030;
    font-family: "Segoe UI";
    font-size: 14px; }
  .table-caption hr {
    background-color: #e1eaf1;
    border-color: #e1eaf1;
    color: #e1eaf1; }

/* Pricing block - table caption end */
/* Pricing block end */
/* Pricing block start */
.hidden {
  display: none; }

.video-wrapper {
  position: relative;
  width: 925px;
  height: 100%;
  margin: 0 auto;
  margin-top: 80px; }
  .video-wrapper .video-preview {
    position: absolute;
    background: #1a173c;
    height: 592px; }
    .video-wrapper .video-preview .youtube-bg:first-child {
      height: 100%; }
  .video-wrapper .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .video-wrapper p {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Segoe UI Black";
    font-size: 18px; }

/* Pricing block end */
/* Pay and order info block start */
/* Pay and order info block - wrapper start */
.pay-order {
  width: 100%; }
  .pay-order .pay-order-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 925px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 84px; }
    .pay-order .pay-order-wrapper h2 {
      position: relative;
      text-transform: uppercase;
      margin-top: 83px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #393185; }
      .pay-order .pay-order-wrapper h2::before {
        content: '';
        width: 84px;
        border-bottom: solid 3px #e50a62;
        position: absolute;
        left: -112px;
        top: 50%; }

/* Pay and order info block - wrapper end */
/* Pay and order info block - heading styles start */
.pay-order-heading {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 43px; }
  .pay-order-heading h2:nth-child(2)::before {
    display: none; }

/* Pay and order info block - heading styles end */
/* Pay and order info block - row tweaks start */
.pay-order-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row2 {
  margin-top: 24px; }

.pay-order-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  .pay-order-item p {
    margin-left: 37px;
    color: #393185;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 700; }

/* Pay and order info block - row tweaks end */
/* Pay and order info block end */
/* feedback block start*/
.feedback {
  width: 100%;
  margin-top: 81px; }
  .feedback .feedback-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 925px; }
    .feedback .feedback-wrapper h2 {
      position: relative;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      color: #393185; }
      .feedback .feedback-wrapper h2::before {
        content: '';
        width: 84px;
        border-bottom: solid 3px #e50a62;
        position: absolute;
        left: -112px;
        top: 50%; }
      .feedback .feedback-wrapper h2::after {
        content: '?';
        position: absolute;
        left: -120px;
        top: 50%;
        color: #eff8ff;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 210px;
        font-weight: 700;
        text-transform: uppercase; }

/* feedback block end*/
/* order from block start*/
.order-form {
  width: 100%;
  margin-top: 287px;
  /* make it margin-top: 87px; when the feedback section is added*/ }
  .order-form .order-form-wrapper {
    margin: 0 auto;
    max-width: 925px; }
    .order-form .order-form-wrapper legend {
      margin: 0 auto;
      padding: 0px 98px; }
    .order-form .order-form-wrapper fieldset {
      position: relative;
      height: 100%;
      color: #2e2771;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.1px;
      border: 8px solid #393185; }
      .order-form .order-form-wrapper fieldset::after {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #ecf5fd;
        top: 50px;
        left: 44px;
        z-index: -1; }

form {
  height: 600px; }
  form input[type="text"] {
    width: 350px;
    padding-bottom: 29px;
    outline: none;
    border: 0;
    border-bottom: 3px solid #393185;
    /* #ecf5fd*/
    color: #393185;
    font-family: "Segoe UI";
    font-size: 24px; }
    form input[type="text"]::-webkit-input-placeholder {
      color: #393185; }
    form input[type="text"]::-moz-placeholder {
      color: #393185; }
    form input[type="text"]:-ms-input-placeholder {
      color: #393185; }
    form input[type="text"]::placeholder {
      color: #393185; }
  form input[type="submit"] {
    width: 293px;
    height: 52px;
    background-color: #e50a62;
    border: 0;
    color: #fff;
    font-family: "Segoe UI";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.8px; }
  form input[type="file"] {
    opacity: 0; }

.attach-file {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .attach-file label {
    margin-left: 21px;
    color: #393185;
    font-family: "Segoe UI";
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: normal; }

/* order from block end*/
/* questions block start*/
.questions {
  width: 100%;
  margin-top: 87px; }
  .questions .questions-wrapper {
    margin: 0 auto;
    width: 925px; }
    .questions .questions-wrapper h2 {
      position: relative;
      text-transform: uppercase;
      margin-top: 83px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #393185; }
      .questions .questions-wrapper h2::before {
        content: '';
        width: 84px;
        border-bottom: solid 3px #e50a62;
        position: absolute;
        left: -112px;
        top: 50%; }

.questions-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 49px; }
  .questions-grid .question-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 360px;
    width: 312px;
    border: 3px solid #e6f0f8; }
    .questions-grid .question-item h3,
    .questions-grid .question-item p {
      text-align: center; }
    .questions-grid .question-item h3 {
      font-family: "Segoe UI";
      font-size: 24px;
      font-weight: normal;
      color: #3b3b3b; }
      .questions-grid .question-item h3 span {
        color: #393185;
        font-family: "Segoe UI Black";
        font-size: 24px;
        font-weight: 900; }
    .questions-grid .question-item p {
      color: #393185;
      font-family: "Segoe UI Black";
      font-size: 16px;
      text-decoration: none;
      font-weight: 900;
      text-decoration: underline; }
    .questions-grid .question-item .or-span {
      position: absolute;
      color: #9ea3c4;
      font-family: "Segoe UI";
      font-weight: normal;
      text-decoration: underline;
      bottom: 50px; }
    .questions-grid .question-item:hover {
      border: 3px solid #e50a62;
      box-shadow: 0 34px 49px rgba(229, 10, 98, 0.16); }
  .questions-grid .item2 {
    border-left: 0;
    border-right: 0; }
    .questions-grid .item2 img {
      margin: 19px 0px; }

/* questions block end */
/* portfolio block start*/
.portfolio {
  width: 100%;
  margin-top: 79px; }
  .portfolio .portfolio-wrapper {
    margin: 0 auto;
    width: 925px; }
    .portfolio .portfolio-wrapper h2 {
      position: relative;
      text-transform: uppercase;
      margin-top: 83px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #393185; }
      .portfolio .portfolio-wrapper h2::before {
        content: '';
        width: 84px;
        border-bottom: solid 3px #e50a62;
        position: absolute;
        left: -112px;
        top: 50%; }

.portfolio-slider {
  margin-top: 54px; }

.slick-prev,
.slick-next {
  color: #2e2771; }

/* portfolio block end */
/* article block start*/
.articles {
  width: 100%;
  margin-top: 95px; }
  .articles .articles-wrapper {
    margin: 0 auto;
    width: 925px; }

article {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 56px; }
  article .article-heading {
    width: 262px;
    margin-right: 46px; }
    article .article-heading h2 {
      position: relative;
      color: #2e2771;
      font-family: "Segoe UI Black";
      font-size: 18px;
      font-weight: 400; }
      article .article-heading h2::after {
        display: block;
        position: absolute;
        content: '';
        height: 3px;
        width: 262px;
        background: #e50a62;
        bottom: -38px; }
  article p {
    color: #303030;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400; }
  article span {
    color: #2e2771;
    font-family: "Segoe UI Black";
    font-weight: 900; }

.article4 {
  margin-top: 100px; }

.article1 .article-heading {
  margin-right: 122px; }

/* article block end*/
/* footer start*/
.footer {
  width: 100%;
  height: 554px;
  margin-top: 64px;
  background: #2e2771; }

/* footer end*/
/* map block start*/
.map {
  width: 100%;
  height: 550px; }
  .map #y-map {
    height: 100%;
    width: 100%; }

/* map block end*/
/* Media rules start */
@media screen and (max-width: 1090px) {
  header nav ul li a {
    font-size: 20px; } }

@media screen and (max-width: 1180px) {
  .banner-container .banner-info .banner-info-text .banner-subheading,
  .banner-container .banner-info .banner-info-text .banner-list {
    margin-right: 55px; }
  .banner-container .banner-info .banner-info-heading {
    font-size: 60px; } }

/* Media rules end */
