/* Banner block start */
.banner-container {
    display: flex;
    position: relative;
    z-index: 1;
    height: calc(100vh - 260px);
    .banner-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .9;
        background: rgba(5,16,59,0.69);
        background: linear-gradient(to bottom, rgba(5,16,59,0.69) 0%, rgba(5,16,59,0.68) 0%, rgba(0,0,0,0.68) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05103b', endColorstr='#000000', GradientType=0 );
    }
    .banner {
      width: 100%;
      object-fit: cover;
      overflow-y: hidden;
    }
    .banner-info {
        position: absolute;
      //   height: 100%;
      //   width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .banner-info-heading {
            margin-top: 70px;
            margin-left: 100px;
            margin-bottom: 30px;
            text-transform: uppercase;
            color: #fff;
            font-size: 108px;
            font-family: 'Source Sans Pro', sans-serif;
            &::after {
              display: block;
              position: absolute;
              content: '';
              background: #e50a62;
              width: 84px;
              height: 3px;
          }
        }
        .banner-info-text {
            display: flex;
            justify-content: center;
            color: #fff;
            font-family: 'Segoe UI', sans-serif;
            .banner-subheading {
                font-size: 30px;
                margin-right: 105px;
            }
            .banner-list {
                font-size: 24px;
                margin-right: 105px;
                i {
                    margin-right: 25px;
                }
              ul {
                  list-style: none;
              }
            }
            .banner-phone {
                p {
                    font-weight: 900;
                    font-size: 30px;
                    margin-bottom: 26px;
                }
                .btn-order-online {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 294px;
                    height: 52px;
                    background: #e50a62;
                    font-size: 14px;
                    text-transform: uppercase;
                    &:hover {
                      background: #fff;
                      color: #e50a62;
                      transition: all ease-out 0.3s;
                  }
                }
            }
        }
    }
}
/* Banner block end */