/* Main header rules*/
.header {
    width: 100%;
    font-family: 'Segoe UI';
}

/* Top navigation start*/
.top-nav {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    padding: 13px 0px 13px 0px;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    border-bottom: 1px solid #e2e2ed;
    font-weight: 600;
    letter-spacing: 1.65px;
    ul {
        display: flex;
        list-style: none;
        li {
            a {
                color: #2e2771;
                text-decoration: none;
            }
        }
        li:not(:last-child) {
            margin-right: 55px;
        }
    }
    .addToBookmarks {
        text-decoration: none;
        margin-left: 15px;
        font-weight: 500;
    }
    i {
        color: #2e2771;
    }
}
/* Top navigation end */

/* Company info block start */
/* Main company info block rules */
.company-info {
    display: flex;
    height: 130px;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;

    a {
        color: #393185;
        text-underline-position: under;
    }

    i {
        color: #393185;
    }

/* Company info block - logo start */
    .logo {
        .slogan {
            margin-top: 12px;
            font-size: 14px;
            font-weight: 900;
            color: #393185;
        }
    }
/* Company info block - logo end */

/* Company info block - working hours start */
    .working-hours {
        display: flex;
        line-height: 1.31;
        .phone-num {
            font-weight: 900;
        }
        .working-hours-icon {
            margin-right: 25px;
        }
        .working-hours-info {
            p:last-of-type {
                margin-bottom: 19px;
            }
        }
    }
/* Company info block - working hours end */

/* Company info block - address start */
    .address {
        display: flex;
        line-height: 1.31;
        .address-icon {
            margin-right: 25px;
        }
        .address-info {
            p:last-of-type {
                margin-bottom: 19px;
            }
        }
    }
/* Company info block - address end */

/* Company info block - fast order start */
    .fast-order {
        .odred-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 207px;
            height: 40px;
            background: #e50a62;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 1.8px;
            font-size: 12px;
            margin-bottom: 19px;
            &:hover {
                background: #fff;
                border: 2px solid #e50a62;
                color: #e50a62;
                transition: all ease-out 0.3s;
            }
        }
    }
}
/* Company info block - fast order end */
/* Company info block end */


/* Main navigation block start*/
  nav {
    background: #393185;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.10);
    .container {
        width: 100%;
    }
    ul {
        height: 100%;
        list-style: none;
        position: relative;
        text-align: center;
        li {
            display: inline-block;
            height: 100%;
            &:hover {
                background: #e50a62;
            }
            &:hover a {
                color: #fff;
            }
            a {
                font-family: 'Source Sans Pro', sans-serif;
                color: #fff;
                text-decoration: none;
                display: block;
                padding: 32px 40px;
                text-transform: uppercase;
                font-size: 24px;
                letter-spacing: 1.5px;
                font-weight: 700;
            }
        }
    }
  }
  

/* sub navigation block start*/
  .menu-sub {
    position: absolute;
    z-index: 2;
    left: 0;
    box-shadow: 0 28px 95px rgba(55, 47, 129, 0.26);
    background-color: #ecf5fd;
    width: 100%;
    display: none;
    color: #2e2771;;
    padding: 2em;
    ul {
        li {
            display: block;
            a {
                padding: 0;
                margin-bottom: .35em;
                font-size: 14px;
                font-family: 'Segoe UI';
                letter-spacing: normal;
                text-transform: capitalize;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
  }
  
  nav li:hover .menu-sub {
    display: block;
    a {
        color: #393185;
    }
  }
  
  .menu-category {
    margin: 2.5em 0 .5em;
  }
  
  .menu-category:first-of-type {
    margin-top: 0;
  }
  
  .menu-col-1,
  .menu-col-2,
  .menu-col-3,
  .menu-col-4 {
    float: left;
  }
  
  .menu-col-1 {
    width: 25%;
  }
  
  .menu-col-2 {
    width: 50%;
  }
/* sub navigation block end*/
/* Main navigation block end*/

