/* Pay and order info block start */
/* Pay and order info block - wrapper start */
.pay-order {
    width: 100%;
    .pay-order-wrapper {
        display: flex;
        margin: 0 auto;
        max-width: 925px;
        flex-wrap: wrap;
        margin-top: 84px;
        h2 {
            position: relative;
            text-transform: uppercase;
            margin-top: 83px;
            font-family: 'Source Sans Pro', sans-serif;
            color: #393185;
            &::before {
                content: '';
                width: 84px;
                border-bottom: solid 3px #e50a62;
                position: absolute;
                left: -112px;
                top: 50%;
            }
        }
    }
}
/* Pay and order info block - wrapper end */

/* Pay and order info block - heading styles start */
.pay-order-heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 43px;

    h2:nth-child(2) {
        &::before {display: none;}
    }
}
/* Pay and order info block - heading styles end */

/* Pay and order info block - row tweaks start */
.pay-order-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.row2 {
    margin-top: 24px;
}

.pay-order-item {
    display: flex;
    align-items: center;
    width: 100%;
    p {
        margin-left: 37px;
        color: #393185;
        font-family: "Segoe UI";
        font-size: 16px;
        font-weight: 700;
    }
}
/* Pay and order info block - row tweaks end */
/* Pay and order info block end */