/* questions block start*/
.questions {
    width: 100%;
    margin-top: 87px;
    .questions-wrapper {
        margin: 0 auto;
        width: 925px;
        h2 {
            position: relative;
            text-transform: uppercase;
            margin-top: 83px;
            font-family: 'Source Sans Pro', sans-serif;
            color: #393185;
            &::before {
                content: '';
                width: 84px;
                border-bottom: solid 3px #e50a62;
                position: absolute;
                left: -112px;
                top: 50%;
            }
        }
    }
}

.questions-grid {
    display: flex;
    margin-top: 49px;
    .question-item {
        display: flex;
        position: relative;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 360px;
        width: 312px;
        border: 3px solid #e6f0f8;
        h3,
        p {
            text-align: center;
        }
        h3 {
            font-family: "Segoe UI";
            font-size: 24px;
            font-weight: normal;
            color: #3b3b3b;
            span {
                color: #393185;
                font-family: 'Segoe UI Black', 'Source Sans Pro', sans-serif;
                font-size: 24px;
                font-weight: 900;
            }
        }
        p {
            color: #393185;
            font-family: 'Segoe UI Black', 'Source Sans Pro', sans-serif;
            font-size: 16px;
            text-decoration: none;
            font-weight: 900;
            text-decoration: underline;
        }
        .or-span {
            position: absolute;
            color: #9ea3c4;
            font-family: "Segoe UI";
            font-weight: normal;
            text-decoration: underline;
            bottom: 50px;
        }
        &:hover {
            border: 3px solid #e50a62;
            box-shadow: 0 34px 49px rgba(229, 10, 98, 0.16);
        }
    }
    .item2 {
        border-left: 0;
        border-right: 0;
        img {
            margin: 19px 0px;
        }
    }
}

/* questions block end */