* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  height: 100vh;
  width: 100%;
  font-family: 'Segoe UI'; }

.top-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 13px 0px 13px 0px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 1px solid #e2e2ed;
  font-weight: 600;
  letter-spacing: 1.65px; }
  .top-nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .top-nav ul li a {
      color: #2e2771;
      text-decoration: none; }
    .top-nav ul li:not(:last-child) {
      margin-right: 55px; }
  .top-nav .addToBookmarks {
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500; }
  .top-nav i {
    color: #2e2771; }

.company-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .company-info a {
    color: #393185;
    text-underline-position: under; }
  .company-info i {
    color: #393185; }
  .company-info .logo .slogan {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 900;
    color: #393185; }
  .company-info .working-hours {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.31; }
    .company-info .working-hours .phone-num {
      font-weight: 900; }
    .company-info .working-hours .working-hours-icon {
      margin-right: 25px; }
    .company-info .working-hours .working-hours-info p:last-of-type {
      margin-bottom: 19px; }
  .company-info .address {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.31; }
    .company-info .address .address-icon {
      margin-right: 25px; }
    .company-info .address .address-info p:last-of-type {
      margin-bottom: 19px; }
  .company-info .fast-order .odred-btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 207px;
    height: 40px;
    background: #e50a62;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.8px;
    font-size: 12px;
    margin-bottom: 19px; }
    .company-info .fast-order .odred-btn:hover {
      background: #fff;
      border: 2px solid #e50a62;
      color: #e50a62;
      transition: all ease-out 0.3s; }
