.floating-menu {
    position: fixed;
    z-index: 9;
    bottom: 0;
    nav {
        ul {
            li {
                display: block;
                &:not(:last-of-type) {
                    border: 1px solid #473d94;
                }
                a {
                    font-family: 'Segoe UI Black', 'Source Sans Pro', sans-serif;
                    font-size: 14px;
                    text-transform: capitalize;
                    padding: 16px 35px;
                    text-align: left;
                    letter-spacing: normal;
                }
            }
        }
    }
}