/* footer start*/

.footer {
    display: flex;
    position: relative;
    width: 100%;
    height: 554px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 64px;
    background: #2e2771;
    section {
        margin-top: 80px;
    }
}

.footer-heading {
    position: relative;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-bottom: 61px;
    &::after {
        display: block;
        position: absolute;
        content: '';
        width: 61px;
        height: 2px;
        background: #e50a62;
        bottom: -26px;
    }
}

.section2-wrapper {
    display: flex;
}

.footer-list {
    list-style: none;
    li {
        color: #fff;
        font-family: "Segoe UI";
        font-size: 14px;
        cursor: pointer;
        &:not(:first-child) {
            margin-top: 8px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.list1 {
    margin-right: 171px;
}

.list2 {
    margin-right: 71px;
}

.list3 {
    margin-right: 73px;
}

.footer-info {
    color: #fff;
    font-family: "Segoe UI";
    .company-info-links {
        color: #b1c2e8;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .footer-slogan {
        margin-bottom: 42px;
    }
    .working-hours {
        display: flex;
        line-height: 1.31;
        .phone-num {
            font-family: "Segoe UI Black";
            font-weight: 900;
        }
        .working-hours-icon {
            margin-right: 25px;
        }
        .working-hours-info {
            p:last-of-type {
                margin-bottom: 19px;
            }
        }
    }
    
    .address {
        display: flex;
        line-height: 1.31;
        margin-top: 41px;
        .address-icon {
            margin-right: 25px;
        }
        .address-info {
            p:last-of-type {
                margin-bottom: 19px;
            }
        }
    }
}

.find-us {
    position: absolute;
    bottom: -35px;
    left: 101px;
}

/* footer end*/